p {
  text-align: center;
  margin-top: 0;
}

h2 {
  text-align: center;
  color: white;

}

h4 {
  text-align: center;
  color: white;
}

label, input, select, textarea {
  color: white;
}

.list {
  padding-left: 13%;
}

.button-block {
  height: 10%;
  font-size: 25px;
}
